Hello everyone!! the link contains notes from dav-2, dav-3, even advanced python (your next module) use what you need :)

https://drive.google.com/drive/folders/1fKLTOzV0V8kLy04u8fmXu3NgIyP5Ecaj?usp=sharing

my no is 9790723608, ping me if you have any doubts

# Practice questions for Numpy/Pandas

## Pandas



# **1. Advanced Employee Performance Analysis**

**Sample DataFrame**:
```python
import pandas as pd

employee_data = pd.DataFrame({
    'Employee_ID': ['E001', 'E002', 'E003', 'E004', 'E005'],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'Department': ['HR', 'Finance', 'Engineering', 'Finance', 'HR'],
    'Monthly_Sales': [8000, 12000, 15000, 14000, 9000],
    'Client_Interactions': [20, 15, 30, 25, 18],
    'Projects_Completed': [3, 4, 2, 5, 3]
})
```

**Given Query**: 
"First, calculate the sales per client interaction for each employee. Then, identify the employee with the highest sales per client interaction within each department. Finally, create a new DataFrame showing each departmentâ€™s total projects completed and total sales."

In [1]:
import pandas as pd

employee_data = pd.DataFrame({
    'Employee_ID': ['E001', 'E002', 'E003', 'E004', 'E005'],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'Department': ['HR', 'Finance', 'Engineering', 'Finance', 'HR'],
    'Monthly_Sales': [8000, 12000, 15000, 14000, 9000],
    'Client_Interactions': [20, 15, 30, 25, 18],
    'Projects_Completed': [3, 4, 2, 5, 3]
})


# Calculate sales per client interaction
employee_data['Sales_per_Interaction'] = employee_data['Monthly_Sales'] / employee_data['Client_Interactions']

# Identify the employee with the highest sales per client interaction within each department
idx = employee_data.groupby('Department')['Sales_per_Interaction'].idxmax()
top_performers = employee_data.loc[idx][['Department', 'Name', 'Sales_per_Interaction']]

# Creating a new DataFrame for department-wise total projects and total sales
department_summary = employee_data.groupby('Department')[['Projects_Completed', 'Monthly_Sales']].sum().reset_index()

print("Sales per client interaction for each employee:")
print(employee_data[['Name', 'Sales_per_Interaction']])
print("\nEmployee with the highest sales per client interaction within each department:")
print(top_performers)
print("\nDepartment-wise total projects completed and total sales:")
print(department_summary)

Sales per client interaction for each employee:
      Name  Sales_per_Interaction
0    Alice                  400.0
1      Bob                  800.0
2  Charlie                  500.0
3    David                  560.0
4     Emma                  500.0

Employee with the highest sales per client interaction within each department:
    Department     Name  Sales_per_Interaction
2  Engineering  Charlie                  500.0
1      Finance      Bob                  800.0
4           HR     Emma                  500.0

Department-wise total projects completed and total sales:
    Department  Projects_Completed  Monthly_Sales
0  Engineering                   2          15000
1      Finance                   9          26000
2           HR                   6          17000

# **2. Multi-Dimensional Sales Analysis**

**Sample DataFrame**:
```python
sales_data = pd.DataFrame({
    'Date': pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']),
    'Product': ['A', 'B', 'A', 'A', 'B'],
    'Region': ['North', 'South', 'East', 'West', 'East'],
    'Units_Sold': [100, 200, 150, 180, 220],
    'Revenue': [1000, 2500, 1200, 1800, 2700]
})
```

**Given Query**: 
"First, calculate the total revenue and total units sold for each product in each region. Next, identify the region with the highest total revenue. Finally, determine the day with the highest revenue to units sold ratio."

In [3]:
sales_data = pd.DataFrame({
    'Date': pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']),
    'Product': ['A', 'B', 'A', 'A', 'B'],
    'Region': ['North', 'South', 'East', 'West', 'East'],
    'Units_Sold': [100, 200, 150, 180, 220],
    'Revenue': [1000, 2500, 1200, 1800, 2700]
})

# Calculate total revenue and total units sold for each product in each region
product_region_summary = sales_data.groupby(['Product', 'Region'])[['Units_Sold', 'Revenue']].sum().reset_index()

# Identify the region with the highest total revenue
region_total_revenue = sales_data.groupby('Region')['Revenue'].sum()
top_revenue_region = region_total_revenue.idxmax()

# Determine the day with the highest revenue to units sold ratio
sales_data['Revenue_per_Unit'] = sales_data['Revenue'] / sales_data['Units_Sold']
highest_ratio_day = sales_data.loc[sales_data['Revenue_per_Unit'].idxmax()]['Date']

print("Total revenue and total units sold for each product in each region:")
print(product_region_summary)
print(f"\nRegion with the highest total revenue: {top_revenue_region}")
print(f"\nDay with the highest revenue to units sold ratio: {highest_ratio_day}")

Total revenue and total units sold for each product in each region:
  Product Region  Units_Sold  Revenue
0       A   East         150     1200
1       A  North         100     1000
2       A   West         180     1800
3       B   East         220     2700
4       B  South         200     2500

Region with the highest total revenue: East

Day with the highest revenue to units sold ratio: 2023-01-02 00:00:00

# SQL query

### SQL Scenario-Based Question

**Scenario 1:**
You work for a company that manages a network of fitness centers. The database for these fitness centers contains the following tables:

1. **Members**
   - `member_id` (Primary Key)
   - `name`
   - `join_date`
   - `membership_type` (e.g., Standard, Premium, Platinum)

2. **Visits**
   - `visit_id` (Primary Key)
   - `member_id`
   - `center_id`
   - `visit_date`
   - `duration_minutes`

3. **Fitness_Centers**
   - `center_id` (Primary Key)
   - `center_name`
   - `location`

**Question:**
Write a SQL query to find the average visit duration for each membership type for the current year (2023). Exclude any fitness centers that have had fewer than 100 visits in total for this period. The query should return the membership type and the average duration.



**Scenario 2:**
You are a data analyst at an e-commerce company. The database for the e-commerce platform contains the following tables:

1. **Customers**
   - `customer_id` (Primary Key)
   - `name`
   - `email`
   - `join_date`
   - `country`

2. **Orders**
   - `order_id` (Primary Key)
   - `customer_id`
   - `order_date`
   - `amount`
   - `status` (e.g., Completed, Pending, Cancelled)

3. **Products**
   - `product_id` (Primary Key)
   - `name`
   - `category`
   - `price`

4. **Order_Details**
   - `detail_id` (Primary Key)
   - `order_id`
   - `product_id`
   - `quantity`

**Question:**
Write a SQL query to identify the most popular product category in each country based on the total number of products sold, considering only completed orders for the year 2023. The query should return the country, the most popular product category, and the total quantity of products sold in that category.


### Answer 1:

```sql
SELECT 
    M.membership_type,
    AVG(V.duration_minutes) AS average_duration
FROM 
    Visits V
JOIN 
    Members M ON V.member_id = M.member_id
JOIN 
    (SELECT 
        center_id 
     FROM 
        Visits 
     WHERE 
        YEAR(visit_date) = 2023 
     GROUP BY 
        center_id 
     HAVING 
        COUNT(visit_id) >= 100
    ) AS C ON V.center_id = C.center_id
WHERE 
    YEAR(V.visit_date) = 2023
GROUP BY 
    M.membership_type;
```

### Explanation:

1. **Joining Tables:** The query joins the `Visits` table with the `Members` table to link member details to their visits.

2. **Subquery for Filtering Fitness Centers:** A subquery is used to filter out fitness centers with fewer than 100 visits in 2023. This subquery selects `center_id` from `Visits` where the `visit_date` is in 2023 and groups by `center_id` with a `HAVING` clause to enforce the visit count condition.

3. **Filtering Visits by Year:** The main query filters visits in the `Visits` table to include only those from the year 2023.

4. **Aggregation:** The query calculates the average duration of visits (`AVG(V.duration_minutes)`) grouped by membership type (`M.membership_type`).

This query provides the average visit duration for each membership type, considering only the fitness centers with sufficient visit frequency in the current year.



### Answer 2:

```sql
SELECT 
    C.country,
    P.category,
    SUM(OD.quantity) AS total_quantity_sold
FROM 
    Orders O
JOIN 
    Customers C ON O.customer_id = C.customer_id
JOIN 
    Order_Details OD ON O.order_id = OD.order_id
JOIN 
    Products P ON OD.product_id = P.product_id
WHERE 
    O.status = 'Completed' AND
    YEAR(O.order_date) = 2023
GROUP BY 
    C.country, P.category
ORDER BY 
    C.country, total_quantity_sold DESC;
```

### Explanation:

1. **Joining Tables:** The query joins `Orders`, `Customers`, `Order_Details`, and `Products` to relate customer details, order details, and product details.

2. **Filtering Criteria:** It filters orders to include only those that are completed (`O.status = 'Completed'`) and placed in the year 2023 (`YEAR(O.order_date) = 2023`).

3. **Aggregation and Grouping:** The query groups the results by `country` and `category`, and calculates the total quantity of products sold in each category (`SUM(OD.quantity)`).

4. **Ordering Results:** Results are ordered by country and then by the total quantity sold in descending order, to identify the most popular category in each country.

This query provides insights into the most popular product categories in each country based on the total sales volume for the year 2023, considering only completed orders.

# Customer Segmentation

Link to Dataset

[Sales Dataset](https://drive.google.com/file/d/1txmInRNwgPH6itjJORWg4CC0Rbna8wMc/view?usp=sharing)

In [ ]:

-- Getting data at invoice level

select InvoiceNo, (Quantity * UnitPrice) as amount

from `mark_1.table-1` limit 10


-- creating CTE for amount

with bills as 
(
  select InvoiceNo, (Quantity * UnitPrice) as amount from `mark_1.table-1`
)

select InvoiceNo, sum(amount) as total from bills group by InvoiceNo


-- creating money value at customer level


select s.CustomerID, sum(b.total) as monetary


from `mark_1.table-1` s 
left join 
`mark_1.bill` b 

on s.InvoiceNo = b.InvoiceNo

group by 

CustomerID

-- add logic for recency

with cte as 

(select s.CustomerID, sum(b.total) as monetary, DATE(max(s.InvoiceDate)) as last_purchase_date


from `mark_1.table-1` s 
left join 
`mark_1.bill` b 

on s.InvoiceNo = b.InvoiceNo

group by 

CustomerID)

select *, DATE_DIFF(reference_date, last_purchase_date, DAY) as recency

from 

( select *,

MAX(last_purchase_date) OVER() + 1 as reference_date, 

from cte);

-- add logic for frequency


with cte as 

(select s.CustomerID, sum(b.total) as monetary, DATE(max(s.InvoiceDate)) as last_purchase_date, DATE(min(s.InvoiceDate)) as first_purchase_date, 
count(distinct s.InvoiceNo) as num_purchases,


from `mark_1.table-1` s 
left join 
`mark_1.bill` b 

on s.InvoiceNo = b.InvoiceNo

group by 

CustomerID)

select *, DATE_DIFF(reference_date, last_purchase_date, DAY) as recency
num_purchases / (months_cust) as frequency

from 

( select *,

MAX(last_purchase_date) OVER() + 1 as reference_date, 
DATE_DIFF(cte.last_purchase_date, cte.first_purchase_date, month) + 1 as months_cust

from cte);


-- let's create percentile


SELECT
   a.*,
   --All percentiles for MONETARY
   b.percentiles[offset(20)] AS m20,
   b.percentiles[offset(40)] AS m40,
   b.percentiles[offset(60)] AS m60,
   b.percentiles[offset(80)] AS m80,
   b.percentiles[offset(100)] AS m100,   
   --All percentiles for FREQUENCY
   c.percentiles[offset(20)] AS f20,
   c.percentiles[offset(40)] AS f40,
   c.percentiles[offset(60)] AS f60,
   c.percentiles[offset(80)] AS f80,
   c.percentiles[offset(100)] AS f100,   
   --All percentiles for RECENCY
   d.percentiles[offset(20)] AS r20,
   d.percentiles[offset(40)] AS r40,
   d.percentiles[offset(60)] AS r60,
   d.percentiles[offset(80)] AS r80,
   d.percentiles[offset(100)] AS r100
FROM
   `mark_1.RFM` a,
   (SELECT APPROX_QUANTILES(monetary, 100) percentiles 
    FROM `mark_1.RFM`) b,
   (SELECT APPROX_QUANTILES(frequency, 100) percentiles 
    FROM `mark_1.RFM`) c,
   (SELECT APPROX_QUANTILES(recency, 100) percentiles 
    FROM `mark_1.RFM`) d
ORDER BY CustomerID


-- create scores

select *,
case when monetary <= m20 then 1
    when monetary <= m40 and monetary >m20 then 2
    when monetary <= m60 and monetary >m40 then 3
    when monetary <= m80 and monetary >m60 then 4
    when monetary <= m100 and monetary >m80 then 5
    end as m_score,

case when frequency <= f20 then 1
    when frequency <= f40 and frequency >f20 then 2
    when frequency <= f60 and frequency >f40 then 3
    when frequency <= f80 and frequency >f60 then 4
    when frequency <= f100 and frequency >f80 then 5
    end as f_score,

case when recency <= r20 then 5
    when recency <= r40 and recency >r20 then 4
    when recency <= r60 and recency >r40 then 3
    when recency <= r80 and recency >r60 then 2
    when recency <= r100 and recency >r80 then 1
    end as r_score
from mark_1.quintiles

-- create segments

SELECT 
  CustomerID,
  m_score, f_score, r_score,
  recency, frequency, monetary,
  CAST(ROUND((f_score + m_score) / 2, 0) AS INT64) AS fm_score
FROM (
  
select *,
case when monetary <= m20 then 1
    when monetary <= m40 and monetary >m20 then 2
    when monetary <= m60 and monetary >m40 then 3
    when monetary <= m80 and monetary >m60 then 4
    when monetary <= m100 and monetary >m80 then 5
    end as m_score,

case when frequency <= f20 then 1
    when frequency <= f40 and frequency >f20 then 2
    when frequency <= f60 and frequency >f40 then 3
    when frequency <= f80 and frequency >f60 then 4
    when frequency <= f100 and frequency >f80 then 5
    end as f_score,

case when recency <= r20 then 5
    when recency <= r40 and recency >r20 then 4
    when recency <= r60 and recency >r40 then 3
    when recency <= r80 and recency >r60 then 2
    when recency <= r100 and recency >r80 then 1
    end as r_score
from mark_1.quintiles
)

-- create segments

SELECT
    CustomerID,
    recency, frequency, monetary,
    r_score, f_score, m_score,
    fm_score,
    CASE 
        WHEN (r_score = 5 AND fm_score = 5)
          OR (r_score = 5 AND fm_score = 4)
          OR (r_score = 4 AND fm_score = 5)
        THEN 'Champions'
        WHEN (r_score = 5 AND fm_score =3)
          OR (r_score = 4 AND fm_score = 4)
          OR (r_score = 3 AND fm_score = 5)
          OR (r_score = 3 AND fm_score = 4)
        THEN 'Loyal Customers'
        WHEN (r_score = 5 AND fm_score = 2)
          OR (r_score = 4 AND fm_score = 2)
          OR (r_score = 3 AND fm_score = 3)
          OR (r_score = 4 AND fm_score = 3)
        THEN 'Potential Loyalists'
        WHEN r_score = 5 AND fm_score = 1 
        THEN 'Recent Customers'
        WHEN (r_score = 4 AND fm_score = 1)
          OR (r_score = 3 AND fm_score = 1)
        THEN 'Promising'
        WHEN (r_score = 3 AND fm_score = 2)
          OR (r_score = 2 AND fm_score = 3)
          OR (r_score = 2 AND fm_score = 2)
        THEN 'Customers Needing Attention'
        WHEN r_score = 2 AND fm_score = 1 
        THEN 'About to Sleep'
        WHEN (r_score = 2 AND fm_score = 5)
          OR (r_score = 2 AND fm_score = 4)
          OR (r_score = 1 AND fm_score = 3)
        THEN 'At Risk'
        WHEN (r_score = 1 AND fm_score = 5)
          OR (r_score = 1 AND fm_score = 4)      
        THEN 'Cant Lose Them'
        WHEN r_score = 1 AND fm_score = 2 THEN 'Hibernating'
        WHEN r_score = 1 AND fm_score = 1 THEN 'Lost'
    END AS rfm_segment
  FROM `mark_1.score`
  ORDER BY CustomerID